# Controller Manager configuration
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    robot_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    robot_hand_controller:
      type: position_controllers/GripperActionController

# Arm trajectory controller
robot_arm_controller:
  ros__parameters:
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
      - joint7
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    state_publish_rate: 50.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: false

# Gripper controller
robot_hand_controller:
  ros__parameters:
    joint: gripper_finger1_joint
    goal_tolerance: 0.01
    max_effort: 10.0
    allow_stalling: false
    stall_velocity_threshold: 0.001
    stall_timeout: 1.0
